/* Desc: File contains common styling for all components
   Created: 05/01/23
   Last Updated: 18/01/2023
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: "GilroyExtraBold";
    src: url("./fonts/Gilroy-ExtraBold.otf"); /* Replace with font location on local system */
}

/* Typography */
body, .btn, .form-control, .form-label {
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem; /* 18px */
}

h1, h2 {
    font-family: "GilroyExtraBold", sans-serif;
}

/* Desktop Font Sizes */
p {
    font-size: 1.125rem; /* 18px */
}

h1 {
    font-size: 3rem; /* 48px */
}

h2 {
    font-size: 2.25rem; /* 36px */
}

h3 {
   font-size: 1.875rem; /* 30px */ 
}

h4 {
    font-size: 1.5rem; /* 24px */
}

h5 {
    font-size: 1.1875rem; /* 19px */
}

/* Optional [Can use h3 also instead of this] */
.subheading {
    font-size: 1.875rem; /* 30px */
}
.seemore:hover{
    color: #ff9900;
    text-shadow: 2px 2px 8px #00000077;
}
/* Mobile/Tablets Font Sizes */
@media all and (max-width: 1024px) {
    body, .btn, .form-control, .form-label {
        font-size: 1rem; /* 16px */
    }

    p {
        font-size: 1rem; /* 16px */
    }
    
    h1 {
        font-size: 1.875rem; /* 30px */
    }

    h2 {
        font-size: 1.75rem; /* 28px */
    }

    h3 {
        font-size: 1.375rem; /* 22px */
    }

    h4 {
        font-size: 1.25rem; /* 20px */
    }

    h5 {
        font-size: 1.125rem; /* 18px */
    }

    .subheading {
        font-size: 1.125rem; /* 18px */
    }
}
html{
    scroll-behavior: smooth;

}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #0000009d;
}
::-webkit-scrollbar-thumb {
    background: #ff9900;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* navbar styling */

  .navbar {
    .container-fluid {
      box-shadow: none;
    }
    box-shadow: none;
  }
  
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: rgba(0, 0, 0, 0.486);
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: rgb(253, 143, 0);
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: rgb(20, 220, 47);
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}
/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: rgba(0, 0, 0, 0.603);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* responsive media query start */
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .max-width{
        max-width: 930px;
    }

}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .services .serv-content .card{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}

.card-container span{
    color: #ff9900;
}

.page-previous-next-buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;
}


/*Pagination styele*/
.posts-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.pagination{
    text-align: center;
    margin: 30px 30px 60ox;
    user-select: none;
}

.pagination li{
    display: inline-block;
    margin: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
}

.pagination li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 45px;
}

.previous-page, .next-page{
    background: #08d0df;
    width: 80px;
    cursor: pointer;
    border-radius: 8px;
    transition:  0.3s ease;
}

.previous-page:hover{
    transform: translate(-5px);
}

.next-page:hover{
    transform: translate(5px);
}

.current-page, .dots{
    background: #ccc;
    width: 45px;
    border-radius: 8px;
    cursor: pointer; 
}

.active{
    background:rgb(250, 0, 0);
}

.disable{
    background: #ccc;
}

/*search  box*/
.search-wrapper{
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.user-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill);
}

.card{
    border: 1px solid #111;
    margin-top: 1rem;
}

/*Category styles*/
.catogery-container{
    position: relative;
    max-width: 1350px;
    width: 100%;
    margin: 50px auto;
    padding: 20px;
}
.filter-buttons{
    display: flex;
    align-items: center;
    gap: 10px;
}
.catogery-button{
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.catogery-button.active{
    background-color: #08d0df;
    color: #fff;
}

.card-item.hide{
    display: none;
}